
.card {
  background-color: #383149;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 20% ; 
  text-align: center;
  text-transform: capitalize;
}

.card h2 {
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin: 0 5px;
}

.card button:hover {
  color: red;
}
