Home Styles
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  div a {
    display: block;
    width: 100px;
    padding: 5px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
  }
  
  div a:hover {
    background-color: #0056b3;
  }
  