footer{background-color:#343a40;color:#333;padding:1rem 0}.card{position:relative}.btn-close{position:absolute;right:10px}.heart-btn:hover{color:#aca1a1;cursor:pointer}.cursor-pointer{cursor:pointer}
